/* General styling for the Pane */
.pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1px;
}


.table-view .table-row-cell:selected {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
}


/* Button styling */
.button {
    -fx-background-color: linear-gradient(to bottom, #007bff, #0056b3);
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-color: #0056b3;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0.3, 0, 3);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #005bb5, #004b8c);
    -fx-border-color: #004b8c;
}

.button:disabled {
    -fx-opacity: 0.5;
}

/* Custom Button IDs for specific buttons */
#LoadSheetButton, #ViewSheetButton {
    -fx-background-color: linear-gradient(to bottom, #005bb5, #004b8c);
    -fx-border-color: #004b8c;
    -fx-font-size: 15px;
}

#LoadSheetButton:hover, #ViewSheetButton:hover {
    -fx-background-color: linear-gradient(to bottom, #005bb5, #004b8c);
    -fx-border-color: #004b8c;
}

#RequestPermissionButton, #AcceptPermissionButton, #DenyPermissionButton {
    -fx-background-color: linear-gradient(to bottom, #005bb5, #004b8c);
    -fx-border-color: #004b8c;
    -fx-font-size: 14px;
}

#RequestPermissionButton:hover, #AcceptPermissionButton:hover, #DenyPermissionButton:hover {
    -fx-background-color: linear-gradient(to bottom, #005bb5, #004b8c);
    -fx-border-color: #004b8c;
}

/* Styling for ScrollPane */
.scroll-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px;
}

/* Disabled styling */
.disabled {
    -fx-opacity: 0.5;
}